<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<title>Trie-spell-check</title>
<body>
<input id="user-input" type="text" size='20'>
<ul id="result-list"></ul>
<script type="text/javascript">
    $(document).ready(function(){
       $("input").keyup(function(){
          var txt = this.value;
          console.log("query is "+ txt);
          $.get( "/search?q="+txt, function(data) {
            console.log(data);
              for (var i = 0; i < data['results'].length; i++) {
                console.log(i, data['results'][i]);
                $('ul').append('<li><a href=https://en.wikipedia.org/wiki/'+data['results'][i]+'>'+ data['results'][i] +'</a></li>')
              }
          });
       });
    });
</script>
</body>
</html>