body {font-family : 'Abril Fatface', background-color: #ebf1f6;}
input
{
width:40%;
left : 30%;
right : 30%;
top : 45%;
position : absolute;
margin: auto;
height:3%;
font-size:90%;
}

ul{
     left : 27.3%;
     right : 30%;
     top : 49%;
     position : absolute;
     margin: auto;
     text-align :start;

}
li { /* styles all li elements*/
 font-family:roboto;
 list-style-type: none;
 margin:0.8;
}

li:hover{
  background:#EBEBEB;
}

.progress
{
 position: absolute;
 left: 0px;
 top: 98%;
 width: 50%;
 height: 2%;
 z-index: 9999;
 background-color: #F2F2F2;
 color : #827b82
}

a{
 text-decoration : none;
 color : #207E9E;
}
a:hover{
 font-weight : bold;
}